.notifications {
    width: 500px;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 100;
    margin: 10px;
}

.notification {
    background: aqua;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
}

    .notification .preview {
        max-width: 400px;
        max-height: 300px;
        width: auto;
    }

.anime-grils .girl-row {
    display: flex;
}

    .anime-grils .girl-row .girl-cell {
        flex: 1;
        overflow: hidden;
        height: 30px;
    }

    .anime-grils .girl-row.header .girl-cell {
        font-weight: 700;
        font-size: 20px;
    }
